<div class="container-fluid p-0">
  <div class="d-block bg-dark d-flex justify-content-between">
    <span class="d-block p-2 bg-dark text-white empd">Employee Detail</span>
  </div>

  <div class="card">
    <div class="card-header input-container" role="tab" id="emp">
      <div class="row form-group">
        <label class="col-sm-2 px-4" for="exampleInputEmail1">Employee Id :</label>
        <div class="col-sm-3 text-left">
          <input type="text" class="form-control" name="empid" id="empid" [(ngModel)]="employeeId" required
            [ngClass]="{ danger: submitted && employeeId === null }" placeholder="Enter empid" />
        </div>
        <div class="col-sm-1 pull-right">
          <button type="submit" id="clilck" class="btn bg-dark text-white btn-sm form-control"
            (click)="getEmployeeDetails()">
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 input-container">
          <div class="input-group">
            <label>Employee Id :</label>
          </div>
        </div>
        <div class="col-sm-4 input-container">
          <div class="input-group">
            <div class="emp-content">{{ employeeDetails?.id }}</div>
          </div>
        </div>
        <div class="col-sm-2 input-container">
          <div class="input-group">
            <label>Employee Name :</label>
          </div>
        </div>
        <div class="col-sm-4 input-container">
          <div class="input-group">
            <div class="emp-content">{{ employeeDetails?.empName }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 input-container">
          <div class="input-group">
            <label>Reporting To :</label>
          </div>
        </div>
        <div class="col-sm-4 input-container">
          <div class="input-group">
            <div class="emp-content">{{ employeeDetails?.reportingTo }}</div>
          </div>
        </div>
        <div class="col-sm-2 input-container">
          <div class="input-group">
            <label>Department :</label>
          </div>
        </div>
        <div class="col-sm-4 input-container">
          <div class="input-group">
            <div class="emp-content">{{ employeeDetails?.unit }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 input-container">
          <div class="input-group">
            <label>Email :</label>
          </div>
        </div>
        <div class="col-sm-4 input-container">
          <div class="input-group">
            <div class="emp-content">{{ employeeDetails?.userName }}</div>
          </div>
        </div>
        <div class="col-sm-2 input-container">
          <div class="input-group">
            <label>Status :</label>
          </div>
        </div>
        <div class="col-sm-4 input-container">
          <div class="input-group">
            <div class="emp-content">
              {{ employeeDetails?.employmentStatus }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <span class="d-block p-2 bg-dark text-white">Manage Employee Assets</span>
    <table id="assetTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtassetTable" width="98%"
      class="row-border hover">
      <thead style="text-align: center">
        <tr>
          <th>Select Asset(s)</th>
          <th scope="col">Asset Type</th>
          <th scope="col">Service Tag</th>
          <th scope="col">Assignment Type</th>
          <th scope="col">Cable</th>
          <th scope="col">Desk ID</th>
          <th scope="col">Location</th>
          <th scope="col">Warranty Start Date</th>
          <th scope="col">Warranty End Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of assetDetails; let i = index">
          <td>
            <input type="checkbox" (click)="getSelectedAsset($event,item)" />
          </td>
          <td>{{ item.assetType }}</td>
          <td>{{ item.serviceTag }}</td>
          <td>{{ item.assignmentType }}</td>
          <td>{{ item.cableDetails }}</td>
          <td>
            <div *ngIf="!item.isAssetEdit">
              {{ item.deskId }}
            </div>
            <div *ngIf="item.isAssetEdit">
              <input type="text" [(ngModel)]="item.deskId" />
            </div>
          </td>
          <td>
            <div *ngIf="!item.isAssetEdit">
              {{ item.location }}
            </div>
            <div *ngIf="item.isAssetEdit">
              <input type="text" [(ngModel)]="item.location">
            </div>
          </td>
          <td>{{ item.warrantyStartDate }}</td>
          <td>{{ item.warrantyEndDate }}</td>
          <td>
            <button type="submit" *ngIf="!item.isAssetEdit" id="" value="edit"
              class="btn bg-dark text-white btn-sm form-control" (click)="item.isAssetEdit = !item.isAssetEdit">Edit
            </button>
            <button type="submit" *ngIf="item.isAssetEdit" id="" value="save"
              class="btn bg-dark text-white btn-sm form-control" (click)="saveDeskId(item)">Save
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
